<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Login</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link href="~/css/PurpleAndGold2.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/open-iconic/font/css/open-iconic-bootstrap.min.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


</head>
<body>
    <div class="page">
        <div class="sidebar" id="sidebarForLsuLogo">
            <div class="top-row navbar navbar-dark">
                <div class="top-row">
                    <div class="lsulogo"></div>
                    <div class="lsulogo">
                        <p class="text-center">
                            <span class="icon-lsu_icon"></span><br />
                            <span class="homepage_lsulogotext">Louisiana State University</span>
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="content px-4">
            @RenderBody()
        </div>

    </div>

</body>
</html>
